*{
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
:root {
    --bg-color: white;
    --second-bg-color: whitesmoke;
    --text-color: #0f012a;
    --main-color: #0f012a;
  }
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  
  .header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
  }
  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
    font-weight: 600;
    text-decoration: none;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
  }
  
  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }
  .hire-me {
    width: 120px;
    height: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 50px;
    color: var(--bg-color);
    outline: none;
    cursor: pointer;
    margin-left: 3rem;
    background-color: var(--main-color);
  }
section{
    min-height: 70vh;
    padding: 5rem 5% 2rem;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--second-bg-color);
    margin-top: 6rem;
    
}
.home-content{
    flex-basis: 50%;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--text-color);
}
.home-content span{
    color: #0ef;
}
.home-content p{
    font-size: 1.6rem;
}
.button{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background: var(--text-color);
    font-weight: 600;
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button svg:hover{
    stroke: #0ef;
}
.home-img-div{
    width: 50%;
    display: flex;
    align-items: center;
}
.home-img-div img{
    width: 35vw;
    animation: floatImage 4s  ease-in-out infinite;
}
.img-back{
    background: var(--text-color);
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    padding-left: 5rem;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
#services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--second-bg-color);

}
.services-content h1{
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--text-color);
}
.services-content span{
    color: #0ef;
}
.services-content p{
    font-size: 1.6rem;
}
.learn-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background: var(--text-color);
    font-weight: 600;
    font-size: 1.6rem;
    color: white;  
}
.learn-btn:hover {
    color: #0ef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}
.service-container div{
    background-color: whitesmoke;
    padding-right: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    border-radius: 1.3rem;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    flex-basis: 36%;
}
.service-container div svg{
    margin-bottom: 2rem;
}
.service-container span{
    font-size: 1.2rem;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--bg-color);
}
.about-content{
    flex-basis: 50%;
    margin-left: 10rem;
}
.about-content h1{
    font-size: 5.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 0;
}
.about-span1{
    font-size: 2.6rem;
}
.about-span2{
    color: #0ef;
}
.about-content p{
    font-size: 1.6rem; 
}
.about-brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 50%;
} 
.about-brands div{
    flex-basis: 28%;
    background-color: whitesmoke;
    padding-right: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-top: 5rem;
    border-radius: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}
.about-brands span{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    letter-spacing: 0.07em;
    font-size: 1.5rem;
}
.netflix{
    font-size: 1.7rem;
}
.footer{
    background-color: var(--text-color);
    border-radius: 6rem 6rem 0 0;
}
.footer h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: azure;
}
.footer p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: azure;
}
#contact{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 80%;
}
.form-div input{
  flex-basis: 43%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.form-div input:nth-child(3){
  flex-basis: 87%;
}
.form-div textarea{
  flex-basis: 90%;
  height: 40dvh;
}

input,.textarea{
  font-size: 1.7rem;
  padding: 0.8em;
  outline: none;
  border: 1px solid rgb(100, 100, 100);
  background-color: transparent;

}
input{
  height: 8dvh;
}
input::placeholder,.textarea::placeholder{
  font-size: 1.7rem;
  padding: 1em;
  margin-left: 0.5em;
  pointer-events: none;
  color: rgb(100, 100, 100);
}
.textarea::placeholder{
  padding: 0.5em;
}
input:focus::placeholder,textarea:focus::placeholder{
  color: transparent;
}
.form-div :is(input:focus, input:valid) {
  border-color: var(--main-color);
}
.send-btn {
  width: 15rem;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 50px;
  color: var(--bg-color);
  outline: none;
  cursor: pointer;
  transition:  all 1s ease;
  background-color: var(--main-color);
}
.send-btn:hover {
  box-shadow: var(--main-color) 0px 3px 8px;
}
@media screen
{
    html {
      font-size:55%;
    }
    .learn-btn{
        text-decoration: none;
    }
}
@media (max-width: 1200px){
    html {
        font-size:70%;
      }
      .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
      }
    
      .navbar.active {
        display: block;
      }
      .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
      }
    #about{
        flex-direction: column;
    }
    .about-brands{
        margin-top: 2rem;
    }
}

@media(max-width: 991px)
{
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
      }
    
      .navbar.active {
        display: block;
      }
      .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
      }
    #services{
        flex-direction: column-reverse;
    }
    #about{
        flex-direction: column;
    }
    .about-brands div{
        flex-basis: 25%;
    }
    .learn-btn{
        text-decoration: none;
    }
    .footer{
        flex-direction: column;
    }
}

@media (max-width: 768px){
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
      }
    
      .navbar.active {
        display: block;
      }
      .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
      }
    #home{
        flex-direction: column;
      }
      .home-content h3{
        font-size: 2.6rem;
      }
    
      .home-content h1{
        font-size: 5rem;
      }
      .home-img img{
        width: 70vw;
        margin-top: 4rem;
      }
      #services{
        flex-direction: column-reverse;
      }
      #about{
        flex-direction: column;
      }
      .about-brands{
        height: 70dvh;
        width: 100dvh;
        flex-direction: row;
      }
      .about-brands div{
        flex-basis: 35%;
      }
      .about-brands{
        grid-template-columns: repeat(2, 1fr);
      }
      .learn-btn{
        text-decoration: none;
    }
}
@media (max-width: 617px)
{
    .about-brands{
        grid-template-columns: 1fr;
    }
    #contact{
        width: 100%;
    }
}
@media (max-width:450px)
{
    html{
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .home-img img{
        width: 90vw;
    }
}